.events
{
  padding-top: 147px;  

  &__container
  {
    flex-direction: column;
  }

  &__title
  {
    align-self: center;
  }

  .title
  {
    margin: 0 0 150px 0;
    box-sizing: border-box;
    max-width: 624px;
    width: 100%;
    padding: 7px 45px 9px;
    text-align: center;
    background-color: #1e1e1e;
    color: white;
    font-family: 'Lora';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
  }
}