.body
{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
}

*::-webkit-scrollbar
{
  width: 12px;
}

*::-webkit-scrollbar-track
{
  background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb
{
  background-color: #1F1E1E;
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}

.page-header::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  @supports (backdrop-filter: blur(10px))
  {
    backdrop-filter: blur(10px);
    background-color: rgba(222, 222, 222, 0.50);
  }
}

.page-header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
}

.page-header__container
{
  position: relative;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
  align-items: center;
}

.page-header__logo
{
  display: inline-block;
  margin-right: 237px;
  width: 202px;
  height: 147px;
}

.page-header__logo-img
{
  width: 100%;
  height: 100%;
}

.page-header__nav
{
  display: inline-block;
  margin-right: 237px;
}

.page-header__nav-link
{
  margin: 0 25px;
  color: #000000;
  font-weight: 600px;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}

.page-header__user-btn
{
  display: inline-flex;
  padding: 15px 40px;
  gap: 10px;
  border: 1px solid #1F1E1E;
  color: #1F1E1E;  
  font-size: 16;
  font-weight: 600;
  line-height: normal;
  justify-content: center;
  align-items: center;
  text-decoration: none;  
}

.home
{
  padding-top: 147px;
}

.main-header
{
  padding: 100px 0;
}

.main-header__title,
.main-header__text
{
  padding-left: 40px;
  padding-right: 40px;
  color: #1F1E1E;
  text-align: center;
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: normal;
  text-transform: uppercase;
}

.main-header__title
{
  margin: 0 0 70px;
}

.main-header__text
{
  margin: 0 auto;
  max-width: 948px;
  width: 100%;
}

.main-header__picture
{
  position: relative;
  display: block;  
  width: 100%;
  margin-bottom: 70px;
}

.main-header__picture::before
{
  content: '';
  display: block;
  width: 100%;
  padding-top: 16.927%;
}

.main-header__img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page-footer
{

}